__pycache__/
*.pyc
.pycache-check/
crawler/books.csv

backend/target/

frontend/node_modules/
frontend/dist/
frontend/.vite/

.idea/
.vscode/
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
